@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
  font-family: 'Bad Script', cursive;
  font-size: 16px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  border: 0;
  border-spacing: 0;
  box-sizing: border-box;
}

.back::before{
  content: "";
  width: 0rem;
  height: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 6rem;
  transform: translate(-50%, -50%);
  opacity: 0;
  background: rgb(255 255 255 / 10%);
  transition: all ease-in-out 0.25s;
}
.backActive::before{
  width: 8rem;
  opacity: 1;

}
.back:hover::before{
  width: 8rem;
  opacity: 1;
}
.titleShadow{
  text-shadow: 0 0 0.5rem white;
}
.sendButtom{
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 2rem;
  padding: 0.5rem 1rem;
}
@layer components{
  .baseInputsContact{
    @apply  p-2 rounded-lg focus:outline-none border-solid border-2 focus:border-pink-700;
  }
  .baseContainerSection{
    @apply h-screen overflow-auto;
  }
  .extraContainerSection{
    @apply py-8 lg:col-span-5 flex flex-wrap gap-5 lg:gap-10 justify-center items-center;
  }
}

